.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
/.idea/.name
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/gradle.properties
/term/term-release.apk
/term/Term-nh.apk
